name: yemen_project
description: "Yemen Project with correct asset names"
publish_to: 'none'
version: 1.0.5+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/logo.png
    - assets/yemen_map.png
